/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 0.86em;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: white;
  }
  .accordion::before{
    content: "+";
    width: 2.5em;
    height: 2.5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    color: black;
    margin-right:2em;
    font-size: 1.4em;
    font-weight: lighter;
  }
  .accordion.active::before{
    content: "-";
    background-color: white;
    border: 1px solid #ddd;
    color: black;
    font-size: 1.4em;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    margin-left: 4.84em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #888;
  }
  .FAQ{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .FAQ{
    
    font-size: 2.5em;
    line-height: 115%;
    font-weight: 800;
    margin:0 0 1em 0;
    color: #333333;
    text-align: center;
  }
  .faqLink{
    border: none;
    padding: 1.5em 3em;
    margin: 3.4em 0 0 0;
    border-radius: 0.9em;
    background-color: midnightblue;
    color: white;
    
    
}
.faqLink:hover{
    background-color: lightblue ;
    color: midnightblue;
    transition: .8s;
}
.faqaccordion{
  width:90vw;
}
@media (max-width:770px){
  .faqaccordion{
    padding-left: 6.5em;
  }
}
@media (max-width:700px){
  .faqaccordion{
    padding-left: 4.5em;
  }
}
@media (max-width:600px){
  .faqaccordion{
    padding-left: 2.5em;
    font-size: 0.85em;
  }
}
@media (max-width:480px){
  .faqaccordion{
    padding-left: 0;
    font-size: 0.80em;
  }
}
@media (max-width:420px){
  .faqaccordion{
    padding-left: 0;
    font-size: 0.70em;
  }
}

@media (max-width:380px){
  .faqaccordion{
    padding-left: 0;
    font-size: 0.70em;
  }
}
